<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Extension Updates</key>
   <array>
     <dict>
       <key>CFBundleIdentifier</key>
       <string>org.thallos.safari.ffnetblacklist</string>
       <key>Developer Identifier</key>
       <string>XLREUF5H62</string>
       <key>CFBundleVersion</key>
       <string>1</string>
       <key>CFBundleShortVersionString</key>
       <string>0.2</string>
       <key>URL</key>
       <string>https://github.com/isolinear/ffnetblacklist/releases/download/0.2/FFNetBlacklist.safariextz</string>
     </dict>
   </array>
</dict>
</plist>