.ffblacklist-hide {
    display: none !important;
}

.ffblacklist-grayout {
    background-color: #ccc !important;
}

#ffmessage 
{
    margin: 1em !important;
    font-family: sans-serif !important;
    background-color: white !important;
}

div#ffactions
{
    margin: 1em !important;
}

div#ffactions a
{
    margin-right: 2em !important;
    margin-left: 2em !important;
}