<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Vykor</string>
	<key>Builder Version</key>
	<string>12603.3.6</string>
	<key>CFBundleDisplayName</key>
	<string>FFNetBlacklist</string>
	<key>CFBundleIdentifier</key>
	<string>org.thallos.safari.ffnetblacklist</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>10485760</real>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Blacklist</key>
		<array>
			<string>https://www.fanfiction.net/s/*</string>
			<string>http://www.fanfiction.net/s/*</string>
			<string>http://archiveofourown.org/works/*/chapters/*</string>
			<string>https://archiveofourown.org/works/*/chapters/*</string>
			<string>http://archiveofourown.org/works/*view_full*</string>
			<string>https://archiveofourown.org/works/*view_full*</string>
		</array>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>injected.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>ffblacklist-injected.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Safari extension to blacklist authors or stories you don't want to see</string>
	<key>DeveloperIdentifier</key>
	<string>XLREUF5H62</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.fanfiction.net</string>
				<string>fanfiction.net</string>
				<string>*.archiveofourown.org</string>
				<string>archiveofourown.org</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://raw.github.com/isolinear/ffnetblacklist/master/updates.plist</string>
	<key>Website</key>
	<string>https://github.com/isolinear/ffnetblacklist</string>
</dict>
</plist>
